.deck-discard-container {
    height:20%;
    width:30%;
    margin-left:35%;
    position:absolute;
    top:45%;
    display:flex;
    justify-content: space-evenly;
}


.deck-image {
    max-height:100%;
}

.discard-image {
    max-height:100%;
}