.deck-discard-container{
    height:35%;
    width:50%;
    display:inline-block;
    background-color:white;
}
.deck-discard-flex {
    height:80%;
    width:100%;
    margin-top:10%;
    /*margin-left:10%;
    position:absolute;
    top:45%;*/

    display:flex;
    justify-content: space-evenly;
}


.deck-image {
    max-height:100%;
}

.discard-image {
    max-height:100%;
}