.go-down-container {
    height:80vh;
    width:80vw;
    position:absolute;
    top:10vh;
    left:10vw;
    z-index: 101;
    background: white;
}

.cancel-button {
    position:absolute;
    right:5px;
    top:5px;
    height:2vh;
    width:2vh;
    display:flex;
    z-index: 102;
    background-color:rgb(50,50,50);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cancel-button:hover {
    cursor: pointer;
}

.cancel-button p{    
    margin:0;
    color:white;
    text-align:center;
}

.hand-container {
    position:absolute;
    bottom:5%;
    left:5%;
    width :90%;
    margin:auto;
    height:25%;
    padding-top:5%;
    display:flex;
    flex-wrap:nowrap;
    align-content:center;
}
.modal-buttons-container {
    display:flex;
    flex-direction: row;
}
.modal-button {
    height:50px;
    width:100px;
    background-color:rgb(100,100,100);
    border-radius:5px;
    margin:auto;
    text-align: center;
}

.modal-button:hover {
    cursor: pointer;
}

.submitted-container {
    height:45%;
    padding-top:5%;
    width:80%;
    margin:auto;
}

.submitted-flex {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.go-down-setrun-container {
    width:100%;
    height:30%;
}

.go-down-setrun-flex {
    width :100%;
    height:100%;
    display:flex;
    flex-wrap:nowrap;
    align-content:center;
}