.player-table-container { 
    width:50%;
    height:35%;
    vertical-align:top;
    background-color:pink;
    display:inline-block;
}

.player-table-flex{
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column; 
    justify-content: space-around;
}