.opponent-container {
    display:inline-block;
    width:33.33%;
    height:100%;
    vertical-align: top;
    
}

.opponent-header-container { 
    height:15%;
    display:inline-block;
    width:100%;
    vertical-align: top;
    
   
}
.opponent-header-text {
    height:100%;
    display:flex;       
    flex-direction: column;
    justify-content: space-evenly;

}
.opponent-header-container p {
    padding-top:0.5vh;
    font-size: 2vh;
    color:lightgrey;
    margin:0;
    text-align: center;
}

.ai-message {
    font-size : 1.3vh;
    text-align: center;
    width:100%;
    color:lightgrey;    
}

.opponent-table-container {
    height:85%;
    width:100%;
}

.opponent-table-flex {
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column; 
    justify-content: space-around;
}