.card-wrapper {
    overflow:hidden;
    height:100%;
    display:inline-block;
    width:fit-content;
    
}


.card-wrapper:last-child {
    overflow: visible;
}

.card {
    height:100%;     
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.card-selected {
    position:relative;
    top:-50px;

}

.wrapper-selected {
    overflow:visible;
}

